

<%= form_for @post do |f| %>
<div class='post-form'>
Title: <li><%= f.text_field :title, autofocus: true %></li>
<br>
Content:<li> <%= f.trix_editor :content, cols: 60, rows: 10 %></li>
<br>
<li><%= f.select :category, collection_select: @types %></li>
<br>
<li><%= f.submit  %></li>
</div>
<% end %>