<div class='post-form'>

	<h2>Article: </h2>
	<li><a href='/posts/<%=@post.id %>/edit'><%= @post.title %></a></li>
	<li><%= @post.content %></li>

	<% @comments.each do |c| %>
	<div id='comment_field'>
			<li><%= c.content %></li>
			<li><a href="/users/profile/<%=c.user.id %>"><%= c.user.email %></a>	</li>
			<%= button_to 'destroy', comment_path(c.id), method: :delete %>
	</div>
		<% end %>
</div>



<div class='comment-form'>
	<%= render "comments/form" %>
</div>

